.body{
  height: 650px;

  background-image:url("https://wallpaperaccess.com/full/1190410.jpg")
}
.ag{
margin-top: -1px;

width: 1332.5px;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: white;
height: 100px;}
.logo{
display: flex;
flex-direction: row;
justify-content: space-between;
width:100px;
padding-top: 10px;
padding-left: 230px;
}
.yah{

  display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 25px;
width:650px;

}
p{
margin-top:-1px
}
.goy{
  background-color: rgb(108, 108, 238);
  margin-top:-35px ;
  height:60px ;
  margin-left:193px;
}
ul{
color: white;
  width:400px;
  display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
}
.fa-magnifying-glass{color:yellow ;
  margin-top: 15px
  ;}
.tunu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:900px ;
}
.tick{
  display: block;
  background-color: cornsilk;
  margin-top: 15px;
}
h3{
  color:yellow;
}
h1{
  color: white;
  font-size: 60px;
}
img{
  background-color:rgb(108, 108, 238);
  margin-top: -20px;
  border-radius: 15px;
}
.orta{
margin-left: 200px;
margin-top: 100px;
}
.fa-location-arrow{
color: yellow;
}
.fa-calendar{
  color: yellow;
}
.enar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:270px
}
.hal{
  color: white;
  font-size: 13px;
}
.su{
  display: block;
  background-color: yellow ;
  width: 100px;
  padding-left: 17px;
  padding-top: 10px;
  
}
.sukur{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 60px;
  
}
.suk{
  display: block;
  background-color: rgb(108, 108, 238) ;
  width: 100px;
  color: aliceblue;
  padding-left: 17px;
  padding-top: 10px;
}
.iki{
  margin-top: 50px;
  display: block;
  text-align: center;
  align-items: center;
}
.roz{
  color:rgb(250, 12, 210);
  font-size: 20px
}
.dord{
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.read{
  color:orange
}
.bas{
  color: rgb(3, 3, 179)
}